.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
data/shapefiles/
scripts/*.log
scripts/*.aux
scripts/*.lot
scripts/*.lof
scripts/*.toc
scripts/*.gz
scripts/*.bbl
scripts/*.blg
*.log
Rapport_Projet_Stat_Ensai_files/
